<div style="display: flex; justify-content: center;">
<img srcset="assets/blau1195.png 1195w, 
            assets/blau898.png 998w,
            assets/blau484.png 484w" 
     src="assets/blau898.png" alt="TexCare Finder Logo Banner">

    
</div>



<!-- <main class="d-flex align-items-center min-vh-100"> -->
    
    <main class="custom-container text-center">
        <div class="content">
        <p>Do you get skin irritations from textile lables? Or are you annoyed that most textile care instructions are printed rather than embroidered and lose their print after a few washes?</p>
        
        
        <p> Stop having skin irritations from lables or to worry about forgetting the recommended care after a while. 
            TexCare Finder helps to to keep your textiles in top condition by 
            allowing you to store and manage all of your care instructions 
            in one place.</p>
        
            <p><span style="font-size: 130%;">How to use this App?</span><br>
                <strong><a class="li" routerLink="/textile">Create</a></strong> a new textile item to build up your database of care instructions.<br>
                <strong><a class="li" routerLink="/table">View all</a></strong> of your items and edit them when needed.
            </p>
            
            <p style="font-size: 150%;">Enjoy having access to your care instructions<br> at any time and from anywhere.</p>
           
        </div>
            
        </main>
<!-- </main>  -->
